{
  "presets": [
    "module:metro-react-native-babel-preset",
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "extensions": [".js", ".ts", ".jsx", ".tsx", ".ios.js", ".android.js"],
      "alias": {
        "stack": "./src/stack",
        "img": "./public/img"
      //   "test": "./test",
      //   "underscore": "lodash"
      }
    }]
  ]
}